<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
	<system>
		<section
			id='df_api'
			showInDefault='1' showInStore='1' showInWebsite='1'
			translate='label'
		>
			<tab>_df</tab>
			<label>APIs</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Df_Api::config</resource>
<!--
2015-09-25
Первые 2 цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
-->
			<group
				id='google'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='120'
				translate='label'
			>
			<label>Google</label>
<!--
2015-11-27
Этот параметр не является секретным, поэтому делать его obscure не нужно.
Защита от несанционированного использования этого идентификатора
достигается проверкой домена на стороне Google: https://mage2.pro/t/261
-->
				<field
					id='client_id'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>OAuth 2.0 Client ID</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/261">How to get it?</a>]]></comment>
				</field>
<!--
2015-11-27
А вот этот параметр уже является секретным.
https://developers.google.com/console/help/new/#apikeybestpractices
https://developers.google.com/fonts/docs/developer_api#creating-server-api-keys
-->
				<field
					id='server_api_key'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='obscure'
				>
					<label>Server API Key</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/268">How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
			</group>
		</section>
	</system>
</config>