<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
	<system>
		<section
			id='df_api'
			showInDefault='1' showInStore='1' showInWebsite='1'
			translate='label'
		>
			<tab>_df</tab>
			<label>APIs</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Df_Api::config</resource>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='google'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='120'
				translate='label'
			>
			<label>Google</label>
<!--
2015-11-27
Этот параметр не является секретным, поэтому делать его obscure не нужно.
Защита от несанционированного использования этого идентификатора
достигается проверкой домена на стороне Google: https://mage2.pro/t/261
-->
				<field
					id='client_id'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>OAuth 2.0 Client ID</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/261">How to get it?</a>]]></comment>
				</field>
<!--
2015-11-27
А вот этот параметр уже является секретным.
https://developers.google.com/console/help/new/#apikeybestpractices
https://developers.google.com/fonts/docs/developer_api#creating-server-api-keys
-->
				<field
					id='server_api_key'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='obscure'
				>
					<label>Server API Key</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/268">How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
			</group>
		</section>
	</system>
</config>